@use 'variable' as variable;

/*-----------------------------------------
    Reset
-----------------------------------------*/

html{
  box-sizing: border-box;
  min-height: 100vh;
  height: -webkit-fill-available;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  margin:0;
  padding: 0;
}

body{
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $c-txt-primary;
  line-height: 1.8;
  font-size: 16px;
  font-family: variable.$ff-sans;
  word-break: break-all;
  &.nav_toggle_active , &.loading_active{
    overflow: hidden;
    height: 100vh;
  }
}

picture{
  display:block;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover img{
  opacity: .9;
}

h1,h2,h3,h4,h5,h6{
  font-weight: variable.$fw-r;
}

table{
  width: 100%;
  border-collapse: collapse;
}

li{
  list-style: none;
}



/*-----------------------------------------
    Common
-----------------------------------------*/

.wrapper{
  width: 100%;
  min-height: 100vh;
}

.container{
  max-width: variable.$container-width;
  padding: 0 variable.$container-padding;
  margin: 0 auto;
  width: 100%;
  @include variable.mq-sp{
    padding: 0 20px !important;
  }
}

.container.small{
  max-width: variable.$container-small;
  padding: 0 variable.$container-padding;
  margin: 0 auto;
}

.container.large{
  max-width: variable.$container-large;
  padding: 0 variable.$container-padding;
  margin: 0 auto;
  @include variable.mq-pc_s{
    min-width: auto;
    max-width: auto;
  }
}

.container.with_sidebar{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction:row-reverse;
  .main{
    width : variable.$main-width;
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 40px;
    @include variable.mq-sp{
      margin-bottom: 0;
    }
  }
  .sidebar{
    width: variable.$side-width;
    max-width: 100%;
  }
  @include variable.mq-tab{
    display: block;
    .main{
      width: 100%;
    }
    .sidebar{
      width: 100%;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}





